@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";
@plugin "daisyui";



.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



:root{
    --color-primary : #1E3A8A;
    --color-secondary : #F3F4F6;
    --color-accent : #FC5130;
}


.nav.active{
    /* @apply bg-white text-blue-600 font-bold outline; */
    @apply text-accent font-bold;
}

.dashboardLink.active{
    @apply bg-secondary font-bold text-accent;
}


.custom-toast-position{
    top: 80px;
    right: 30px;
}
